 /*CONTÉM ESTILOS PARA A ESTRUTURA DO LAYOUT, */
 /* COMO CABEÇALHO,RODAPÉ E NAVEGAÇÃO.*/

 
   /* Declarando variáveis de cor */
:root {
    --header-primary-color: #dccbb5;
    --header-secondary-color: #fff;
    --navbar-primary-color: #000;
    --navbar-secondary-color:goldenrod;
    --footer-color:#333;

}


/* Estilo para o cabeçalho */
header {
    background-color: var(--header-primary-color);
    color: var(--header-secondary-color);
    padding: 1rem 0;
}

/* Estilo da navegação */
.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Espaçamento entre os links da barra de navegação */
.navbar ul li {
    margin: 0 1rem;
}

/* Estilo dos links da navegação */
.navbar ul li a {
    color:var(--navbar-primary-color);
    text-decoration: none;
    font-weight: bold;
}

/* Efeito de hover nos links da navegação */
.navbar ul li a:hover {
    color: var(--navbar-secondary-color);
}

/* Estilo do rodapé */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dccbb5;
    color: var(--footer-color);
    text-align: center;
    padding: -10rem -10px;
    font-size: 0.875rem;
}

/* Estilo dos links sociais no rodapé */
footer .social-links {
    margin: 0.5rem 0;
}

footer .social-links a {
    margin: 0 0.5rem;
    display: inline-block;
}

footer .social-links img {
    width: 24px;
    height: 24px;
}
