/* Resetando o CSS básico para garantir consistência em todos os navegadores */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #f4f4f4; /* Cor de fundo padrão */
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Para evitar rolagem horizontal */
}

/* Estilo para o cabeçalho */
header {
    background-color: #dccbb5; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 1rem 0; /* Espaçamento interno do cabeçalho */
}

/* Estilo da navegação */
.navbar ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding */
    display: flex; /* Layout em flexbox */
    justify-content: center; /* Centraliza os itens */
}

/* Espaçamento entre os links da barra de navegação */
.navbar ul li {
    margin: 0 1rem;
}

/* Estilo dos links da navegação */
.navbar ul li a {
    color: #000; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Texto em negrito */
}

/* Efeito de hover nos links da navegação */
.navbar ul li a:hover {
    color: goldenrod;
}

/* Estilos gerais para os títulos */
h1, h2, h3, h4, h5, h6 {
    font-weight: 900; /* Negrito forte */
    color: #000; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
}

/*Seção de boas-vindas com efeito parallax */
/* Estilo do wrapper para centralizar o conteúdo */
.wrapper {
    width: 100%;
    margin: 0 auto; /* Centraliza o wrapper */
}

/* Seção de serviços com conteúdo com efeito parallax */
/* Estilo do container para centralizar e definir largura máxima */
.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto; /* Centraliza o container */
    padding: 20px; /* Padding interno */
}

/* Estilo do main */
main {
    display: block;
}


.main-content {
    display: flex; /* Usar layout flexível */
    align-items: flex-start; /* Alinhar itens ao topo */
}

.main-content .text {
    flex: 1; /* Ocupar o espaço restante */
    padding-right: 20px; /* Espaço à direita */
}

.main-content img {
    max-width: 800px; /* Largura máxima */
    margin-left: 20px; /* Espaço à esquerda */
}

/* Estilo dos parágrafos nas seções */
section.module p {
    margin-bottom: 40px; /* Espaçamento inferior */
}

/* Remove margem inferior da última seção */
section.module:last-child {
    margin-bottom: 0;
}

/* Estilo dos títulos das seções */
section.module h2 {
    margin-bottom: 40px; /* Espaçamento inferior */
    font-size: 30px; /* Tamanho da fonte */
}

/* Estilo das seções de conteúdo */
section.module.content {
    padding: 40px 0; /* Padding superior e inferior */
    background: #ece7d5; /* Cor de fundo */
}

/* Estilo das seções com efeito parallax */
section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* Altura da viewport */
    width: 100%;
    position: relative; /* Posição relativa para o efeito parallax */
    overflow: hidden; /* Esconde overflow */
    background-position: 50% 50%; /* Posição do background */
    background-repeat: no-repeat; /* Não repete o background */
    background-attachment: fixed; /* Fixa o background */
    background-size: cover; /* Cobre toda a área da seção */
}

/* Efeito de gradiente sobre as seções parallax */
section.module.parallax::after {
    content: ""; /* Conteúdo vazio */
    height: 100%; /* Altura total */
    width: 100%; /* Largura total */
    position: absolute; /* Posição absoluta */
    z-index: 8; /* Camada acima do background */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
}

/* Imagens de background para cada seção parallax */
section.module.parallax-1 {
    background-image: url('../image/parallax1.JPG');
}

section.module.parallax-2 {
    background-image: url('../image/parallax2.JPG');
}

section.module.parallax-3 {
    background-image: url('../image/parallax3.JPG');
}

/* Estilo dos títulos nas seções parallax */
section.module.parallax h1 {
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
    font-size: 50px; /* Tamanho da fonte */
    z-index: 50; /* Camada acima do gradiente */
    text-transform: uppercase; /* Texto em maiúsculas */
}

/* Estilo do rodapé */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dccbb5; /* Cor de fundo do rodapé */
    color: #333; /* Cor do texto do rodapé */
    text-align: center; /* Centraliza o conteúdo do rodapé */
    padding: -10rem -10px; /* Reduz o padding superior e inferior */
    font-size: 0.875rem; /* Reduz a fonte do texto */
}


/* Estilo dos links sociais no rodapé */
footer .social-links {
    margin: 0.5rem 0; /* Reduz o espaçamento superior e inferior */
}

/* Estilo dos links sociais */
footer .social-links a {
    margin: 0 0.5rem; /* Margem lateral */
    display: inline-block;
}

/* Estilo das imagens dos links sociais */
footer .social-links img {
    width: 24px;
    height: 24px;
}

/* Media Queries para Responsividade */

/* Estilos para telas com largura máxima de 768px */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Layout em coluna */
        align-items: center; /* Alinha ao centro */
    }
    
    nav ul li {
        margin: 0.5rem 0; /* Margem superior e inferior */
    }

    section.module.parallax h1 {
        font-size: 30px; /* Tamanho da fonte */
    }

    section.module h2 {
        font-size: 24px; /* Tamanho da fonte */
    }

    .container {
        padding: 10px; /* Padding interno */
    }
}

/* Estilos para telas com largura máxima de 480px */
@media (max-width: 480px) {
    .navbar ul li {
        margin: 0.2rem 0; /* Margem superior e inferior */
    }

    section.module.parallax h1 {
        font-size: 24px; /* Tamanho da fonte */
    }

    section.module h2 {
        font-size: 20px; /* Tamanho da fonte */
    }

    .container {
        padding: 5px; /* Padding interno */
    }

    /* Ajusta o tamanho da borda e imagem para telas menores */
    .loading::before {
        width: 60px; 
        height: 60px;
    }

    .loading img {
        width: 60px;
        height: 60px;
    }
}

/* Estilo para o indicador de carregamento */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para a borda giratória */
.loading::before {
    content: '';
    position: absolute;
    width: 80px; /* Largura da borda giratória */
    height: 80px; /* Altura da borda giratória */
    border: 8px solid rgba(0, 0, 0, 0.1); /* Cor e largura da borda */
    border-top-color: #3498db; /* Cor da borda superior */
    border-radius: 50%; /* Deixa a borda arredondada */
    animation: spin 1s linear infinite; /* Animação de rotação */
}

/* Estilo para a imagem de carregamento */
.loading img {
    border-radius: 50%; /* Deixa a imagem arredondada */
    width: 80px; /* Ajusta o tamanho da imagem */
    height: 80px;
    position: relative;
    z-index: 1001; /* Garante que a imagem fique sobre a borda */
}

/* Animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* CSS página Ebooks */

/* Flex container para layout responsivo */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo do logotipo */
.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

/* Container dos produtos */
.products {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Título da seção de produtos */
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #242424;
}

/* Estilo dos flexbox 3 colunas */

.box-container { /* Layout flexível */
    display: flex;
    justify-content: space-around;/* Espaço igual ao redor dos itens */
    flex-wrap: wrap; /* Quebra itens em novas linhas se necessário */
    gap: 20px; /* Espaçamento de 20px entre itens */
    margin-top: 20px; /* Margem superior de 20px */
}

/* Estilo das caixas de produto */
.box {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px; /* Borda arredondada */
    position: relative; /* Para posição absoluta do ícone do carrinho */
}

/* Efeito de hover nas caixas de produto */
.box:hover {
    transform: translateY(-10px);
}

/* Estilo das imagens dos produtos */
.box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px; /* Borda arredondada */
    float: right; /* Imagem à direita */
}

/* Categoria do produto */
.box .cat {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

/* Nome do produto */
.box .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Preço do produto */
.box .price {
    font-size: 24px;
    color: #27ae60;
    margin-top: auto;
}

/* Formulário de quantidade */
.box form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* Campo de quantidade */
.box form .qty {
    width: 40px;
    text-align: center;
    margin-right: 5px;
}

/* Ícone do carrinho */
.cart-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: #27ae60;
}

/* Créditos */
.credit {
    background-color: #dccbb5;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
}

/* Ícone flutuante */
.icone-flutuante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    z-index: 1000;
}

/* Estilo da imagem do ícone flutuante */
.icone-flutuante img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Ícone arredondado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #25d366; /* Cor de fundo similar ao WhatsApp */
    padding: 10px; /* Espaço ao redor do ícone */
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0; /* Alterado para right para que a sidebar apareça à direita */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.content {
    transition: margin-right 0.5s; /* Alterado para margin-right */
    padding: 16px;
}
