
        /*ESTILO DA PÁGINA 'SOBRE'*/
        
        /* Estilo do contêiner principal para usar Flexbox */
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .content-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        /* Estilo do rodapé */
        footer.sobre-footer {
            background-color: #dccbb5; /* Cor de fundo do rodapé */
            color: #333; /* Cor do texto do rodapé */
            text-align: center; /* Centraliza o conteúdo do rodapé */
            padding: 0.5rem 0; /* Reduz o padding superior e inferior */
            font-size: 0.875rem; /* Reduz a fonte do texto */
        }

        .main-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start; /* Alinha a imagem ao topo da seção */
            padding: 2rem;
        }
        .text {
            width: 10%; /* Define a largura fixa para a div do texto [retâgulo em pé]*/
            text-align: justify;
            padding-right: 1rem;
        }
        .image {
            flex: 1;
            text-align: right;
            display: flex;
            justify-content: flex-end; /* Alinha a imagem à direita */
        }
        .image img {
            width: 90%; /* Ajuste a largura da imagem conforme necessário */
            height: auto; /* Mantém a proporção da imagem */
            max-width: 470px; /* Limita o tamanho máximo da imagem */
            margin-top: -110px; /* Ajuste a margem superior para mover a imagem para cima */
        }
